.sfocato {
    top:0;
    right:0;
    left:0;
    overflow:hidden;
    z-index:2;
}

#sfocatodentro {
    overflow:hidden;
    -webkit-filter: blur(.25em);
    background:#fff;  
}

a.nav-link:hover {
    color: #0275d8 !important;
}

a.nav-link.active {
    color: #0275d8 !important;
}

.scopri {
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.411);
}

#scrollButton {
    margin-left: 35%;
    margin-right: 0%;
}

#Copyright {
    text-align: right;
    margin-right: 2%;
}

#Copyright #scrollButton {
    font-size: 16px;
    font-weight: 700px !important; /* Non funziona non ho idea del perché */
    
}

#bottom_bar {
    background-color: #0275d8;
    position: relative;
    bottom: 0;
    width: 100%;
    display: inline-flex;
}


