
/* Background styles */
body {
    background-image: url(../images/background.jpg);
    background-size: 120%;
    /* background-; */
}


/* Bottom bar button */
.scopri {
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    display: inline-flex;
    background-color: rgba(227,242,253,0.5);
}

#login, #signup {
    display: inline;
}

#logout {
    display:none;
    margin-right: .5vw !important;
}
#acquista_top {
    display:none;
}

/* Navbar styles */
#navibar {
    top: 0;
    transition: top 0.7s;
}

.nav-item, #signup, #login {
    font-size: 16px;
}

a.nav-link:hover, a.nav-link.active {
    color: #0275d8 !important;
}

#backToTopButton {
    margin-right: 0%;
}

#Copyright{
    text-align: right;
    margin-bottom: 0%;
    margin-right: 1%;
    font-size: 15px;
    color:black;
}

/* Whole page wrapper*/
#Wrapper {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

/* Bottom bar styles */ 
#bottom_bar {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: inline-flex;
}

/* Smartphone view */
@media only screen and (max-width: 1024px) {
    
    .nav-item {
        margin-left: 2%;
    }
    
    #signup, #login {
        margin-top: 1%;
    }
    
}