
/* Background styles */
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 1920px 2160px; */
}


/* Bottom bar button */
.scopri {
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    display: inline-flex;
    background-color: rgba(227,242,253,0.5);
}


/* Navbar styles */
#navibar {
    top: 0;
    transition: top 0.7s;
}

.nav-item, #signup, #login {
    font-size: 16px;
}

a.nav-link:hover, a.nav-link.active {
    color: #0275d8 !important;
}

#backToTopButton {
    margin-right: 0%;
}

#Copyright{
    text-align: right;
    margin-right: 1%;
    margin-bottom: -1%;
    font-size: 15px;
    color:black;
}

/* Whole page wrapper*/
#Wrapper {
    min-height: 100vh;
    position: relative;
}

/* Bottom bar styles */ 
#bottom_bar {
    position: relative;
    bottom: 0%;
    width: 100%;
    display: inline-flex;
}
