/* leftContainer container styles */

#leftContainer{
    float:left;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 3%;
    position: relative;
}

#gifContainer {
    border-radius: 15px;
    position: relative;
    width: 400px;
    height: 300px;
}

#gif1 {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 90%;
}



#ChiSiamoContainer {
    border-radius: 15px;
    background-color: rgba(227,242,253,0.5);
    width: 600px;
    height: 650px;
    margin-top: 7%;
}

/* Contatti container styles */

#contatti {
    border-radius: 15px;
    background-color: rgba(227,242,253,0.5);
    position: relative;
    width: 600px;
    height: 640px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3%;
    float: right;
}

#contatti > ul, #ChiSiamoContainer > ul{
    margin: 10%;
    margin-top: 7%;

}

.fa-li {
    color: #0275d8;
}

li > h3, li > p {
    margin-left: 4%;
}

/* Google Map styles */
#Gmap{
    height: 200px;
    width: 400px;
    position: relative;
    margin-left:4%;
    border-radius: 10px;
}


/* Chi siamo? cards */
#lorenzo-card {
    margin-top: 2%;
    margin-left:-6%;
    width: 100%;
}
.card-img-top {
    width: 100%;
    height: 100%;
}

#tommaso-card {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: -6%;
    width: 100%;
}
