/* Immagine di BackGround */
body {
    background-image: url(../images/background.jpg);    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top:60px;
    margin-bottom: 0px;
}

.col {
    position: relative;
    width: 20%;
}
  
.tabella {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 20px 20px 20px;
    column-gap: 20px;
}


.image {
    transition: .5s ease;
    backface-visibility: hidden;
    width: fit-content;
    height: 500px;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.tabella .container:hover .image {
    opacity: 0.2;
    animation: pop 0.3s ease-in-out;
}
  
.tabella .container:hover .middle {
    opacity: 1;
}
  
.text {
    font-family: 'Freckle Face', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    position:  relative;
    font-size: 52px;
}

  
  @keyframes pop {
    50%  {
      transform: scale(1.1);
    }
  }

.accordion {
    width: 80%;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    align-self: center;
    
}

.accordion-item {
    background: #a4d4fd49;
    /* max-height: 800px; */
}

.container {

    border: solid red 2px;
    /* height: 80%; */
}