h3 {
    /* text-align: left; */
    font-size: 30px;
}
  
.tabella {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 20px 20px 20px;
    column-gap: 60px;
    row-gap: 30px;
}

.container {

    position: relative;
    width: 100%;
    max-height: 50vw; 
    margin: 7vh 50px 2vh 0vh;
    height: 50vh;
} 

.image {
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 50vh;
    /* margin-top: -665px; */
    margin-top: -69vh;
    width: 100%;
    max-height: 50vw;
    border: solid #007bff 2px;
}

.gif {
    height: 50vh;
    width: 100%;
    max-height: 50vw;
    transition: .5s ease;
    opacity: 0;
    position:  relative;
    border: solid #007bff 2px;
}
  
.tabella .container:hover .image {
    opacity: 0;
    animation: pop 0.3s ease-in-out;
}
  
.tabella .container:hover .gif, .tabella .container:hover .text{
    opacity: 1;
}
  
.text {
    transition: .5s ease;
    opacity: 0;
    position:  relative;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
}

  
@keyframes pop {
    100%  {
      transform: scale(1.1);
    }
}

.scopri {
    margin-top: 60px;
    /* min-width: 300px !important; */
}

#scopri1{
    margin-top: 30px;
}
#backToTopButton{
    margin-top: 0px;
}

.scrollImage {
    width: 40px;
    margin-left: 20px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

#scrollImage1 {
    transform: rotate(180deg);
}

.tabella {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: rgba(227,242,253,0.5); */
}

.scroll {
    width: 40px;
    margin-left: 20px;
    right: 20px;
}

/* Smartphone view */
@media only screen and (max-width: 1024px) {

    .tabella {
        display: grid;
        grid-template-columns: auto;
        padding: 0px 20px 20px 20px;
        row-gap: 30px;
    }

    .scopri {
        margin-left: 25vw;
        width: 50vw !important;
    }

    h3 {
        font-size: 5vw;
    }

    .text {
        font-size: 35px;
    }

    .image{
        margin-top: -69vw;
    }

}