form {
    border-radius: 25px;
}

.login-form {
    width: 35%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
  	font-size: 15px;
    border-radius: 25px;
    background-color: rgba(227,242,253,0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-form form {
    margin-bottom: 2%;
    padding: 4%;    
}

.form-group {
    margin-bottom: 20px;
}

.login-form h2 {
    margin-bottom: 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

#submit {
    position: relative;
    float: right;
    width: 40%;
}

#reset {
    position: relative;
    float:left;
    width: 40%;
}


.corta {
    display: inline-block;
}

.login-form > button {
    width: 100%;
}

.bottom {
    position: fixed;
    bottom: 50px;
    left: 45%;
    right: 45%;
}

.float-right {
    margin-left: 41%;

}

.main-title {
    padding-bottom: 15px;
}

.ticket-tipe {
    display: grid;
    grid-template-columns: auto;
}

.range-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20%;
    margin-right: 10%;
}

.range-value {
    margin-top: 6px;
    margin-left: -30px;
}

.form-range {
    margin-top: 10px;
    margin-bottom: 30px;
}

.biglietto {
    font-size: 19px;
}

#already_registered {
    margin-top: 40px;
}

/* Pagina di benvenuto */
.container-messages{
    width: 40%;
    margin-top: 5%;
    border-radius: 25px;
    background-color: rgba(227,242,253,0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container-messages > .text-center{
    margin: 3%;
    font-size: 3vh;

}

.container-messages > a{
    margin: 3%;
    width: 45%;
    text-align: center;
    font-size: 3vh;

}

.solution {
    position: relative;
    width: 50% !important;
    height: 40px !important;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 20px !important;
    margin-left: 25% !important;
    text-decoration: none;
}





/* Smartphone view */
@media only screen and (max-width: 1023px) {
    
    body {
      font-size: 3vw;
    }

    .login-form {
        font-size: 3vw;
        width: 60%;
    }
    
    .container-messages > a{
        margin: 3%;
        width: 45%;
        text-align: center;
        font-size: 1.5vh;
    }

    .container-messages > .text-center{
        margin: 3%;
        font-size: 1.5vh;
    }

    .container-messages{
        width: 40%;
        margin-top: 20%;
        border-radius: 25px;
        background-color: rgba(227,242,253,0.5);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    button > h4 {
        font-size: 1.5vh;
    }

}